<table class="table table-bordered table-hover">

<h6><%= comment.body %> </h6>
<p> Posted by <%= link_to comment.user.user_name, comment.user %>
| <%= time_ago_in_words(comment.created_at) %> ago
| <%= link_to "Reply", new_comment_comment_path(comment), :method => :get %>
  <% if comment.has_parent_comment? %>
    | <%= link_to "Parent", comment.parent %>
  <% end %>
  <% if comment.has_comments? %>
    | <%= link_to pluralize(comment.children.count, "reply"), comment_comments_path(comment) %>
  <% end %>
  | <%= link_to "on: #{comment.article.title}", comment.article %>
</p>

</table>
