<table class="table table-bordered table-hover">

<h6><%= comment.body %> </h6>
<p> Posted by <%= link_to "#{comment.user.user_name}", user_path(comment.user) %>
| <%="#{time_ago_in_words(comment.created_at)} ago" %>
| <%= link_to "Reply", new_comment_comment_path(comment), :method => :get %>
  <% if comment.has_parent? %>
    | <%= link_to "Parent", comment_path(comment.parent) %>
  <% end %>
  <% if comment.has_children? %>
    | <%= link_to "#{comment.children.count} replies", comment_comments_path(comment) %>
  <% end %>
  | <%= link_to "on: #{comment.article.title}", article_path(comment.article) %>
</p>

</table>
