<table class="table table-bordered table-hover">

  <h6><%= comment.body %> <small> <%= pluralize(comment.num_upvotes, "Like") %> 
      <%= pluralize(comment.num_downvotes, "Dislike") %> </small> </h6>
  
  <p> Posted by <%= link_to comment.user.user_name, comment.user %>
  | <%= time_ago_in_words(comment.created_at) %> ago
  | <%= link_to "View/Reply (#{pluralize(comment.children.count, "Reply")})", comment %>
  | <%= link_to "Parent", comment.commentable %>
  | <%= link_to "on: #{comment.article.title}", comment.article %>
  <%= render("shared/vote", :parent => comment) %>
  </p>

</table>
