<h2><%= link_to @article.title, @article.url %><font size="1"> <%="( #{@article.domain} )" %> </h2>
<%= render("article", :article => @article) %>

 <table class = "table table-bordered table-hover">
    <% @article.comments.recent.each do |comment| %>
      <tr>
        <td>
          <%= render("comments/comment", :comment => comment) %>
        </td>
      </tr>
    <% end %>
</table>

<p>   
<%= link_to "Add comment", new_article_comment_path(@article), 
  { :class=>" btn btn-primary"}%> 
</p>

