<p> <%= "#{@user.user_name}" %> </p>



<div class="tabbable"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Submissions</a></li>
    <li><a href="#tab2" data-toggle="tab">Comments</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% @user.articles.recent.each do |article| %>
        <p> <%= link_to article.title, article.url %> </p>
      <% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <% @user_comments.recent.each do |comment| %>
        <h6><%= comment.body %> </h6>
        <p>Article: <%= link_to comment.article.title, article_path(comment.article) %>
        |  <%= time_ago_in_words(comment.created_at) %> ago </p>
      <% end %>
    </div>
  </div>
</div>
