<!DOCTYPE html>
<html>
<head>
  <title>Hackernews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if session[:user_id] == nil %>
    <span style ="position:absolute;right:0;top:0"><%= button_to 'Login', new_login_path, :method => :get%></span>
  <% else %>
    <span style ="position:absolute;right:0;top:0"><%= "Welcome, #{User.find(session[:user_id]).user_name}" %>
      <%= button_to 'Logout', logout_path, :method => :delete %></span>
  <% end %>
  <% [:notice,:error,:alert].each do |key| %>
    <% if flash[key] %>
      <%= flash[key] %>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
