<!DOCTYPE html>
<html>

 
<head>
  <title>Hackernews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

   <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Hacker News</a>
      <div class="nav-collapse">
        <ul class="nav nav-pills">
          <li class="<%= 'active' if current_page?(articles_path) %>"><%= link_to "News", articles_path %></li>
          <li class="<%= 'active' if current_page?(new_article_path) %>">
          <%= link_to "Submit", new_article_path %></li>
          <% if logged_in? %> 
            <li class="<%='active' if current_page?(logout_path) %>">
            <%= link_to "Logout (#{current_user.user_name})", logout_path, :method => :delete %></span>
          <% else %>
            <li class="<%='active' if current_page?(new_login_path || new_user_path)%>">
            <%= link_to 'Login/Register', new_login_path %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

</head>
<body>
<br></br>
<br></br>

<% [:notice,:error,:alert].each do |key| %>
  <% if flash[key] %>
    <%= flash[key] %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
